USE [Marafon]
GO
/****** Object:  Table [dbo].[Charity]    Script Date: 27.06.2022 19:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Charity](
	[CharityId] [int] IDENTITY(1,1) NOT NULL,
	[CharityName] [nvarchar](50) NOT NULL,
	[CharityDescription] [nvarchar](max) NOT NULL,
	[CharitiLogo] [image] NULL,
 CONSTRAINT [PK_Charity] PRIMARY KEY CLUSTERED 
(
	[CharityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 27.06.2022 19:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[CountryCode] [nchar](10) NOT NULL,
	[CountryName] [nvarchar](50) NOT NULL,
	[CountryFlag] [image] NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Distance]    Script Date: 27.06.2022 19:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distance](
	[DistanceId] [int] IDENTITY(1,1) NOT NULL,
	[MarathonId] [int] NOT NULL,
	[DistanceValue] [int] NOT NULL,
 CONSTRAINT [PK_Distance] PRIMARY KEY CLUSTERED 
(
	[DistanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 27.06.2022 19:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[EventId] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [nvarchar](50) NOT NULL,
	[EventTypeId] [int] NOT NULL,
	[MarathonId] [int] NOT NULL,
	[StartDateTime] [datetime] NOT NULL,
	[Cost] [money] NOT NULL,
	[MaxParticipants] [int] NOT NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventType]    Script Date: 27.06.2022 19:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventType](
	[EventTypeId] [int] IDENTITY(1,1) NOT NULL,
	[EventTypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EventType] PRIMARY KEY CLUSTERED 
(
	[EventTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 27.06.2022 19:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[Gender] [nchar](1) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[Gender] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HowLong]    Script Date: 27.06.2022 19:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HowLong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](128) NULL,
	[Image] [varbinary](max) NULL,
	[Speed] [varchar](128) NULL,
	[Length] [varchar](128) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 27.06.2022 19:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[PositionId] [int] IDENTITY(1,1) NOT NULL,
	[PositionName] [nvarchar](50) NOT NULL,
	[PositionDescription] [nvarchar](max) NOT NULL,
	[PayPeriod] [nvarchar](10) NOT NULL,
	[PayRate] [money] NOT NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[PositionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RaceKitOption]    Script Date: 27.06.2022 19:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RaceKitOption](
	[RaceKitOptionId] [int] IDENTITY(1,1) NOT NULL,
	[RaceKitOption] [nvarchar](50) NOT NULL,
	[Cost] [money] NOT NULL,
 CONSTRAINT [PK_RaceKitOption] PRIMARY KEY CLUSTERED 
(
	[RaceKitOptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registration]    Script Date: 27.06.2022 19:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration](
	[RegistrationId] [int] IDENTITY(1,1) NOT NULL,
	[RunnerId] [int] NOT NULL,
	[RegistrationDateTime] [datetime] NOT NULL,
	[RaceKitOptionId] [int] NOT NULL,
	[RegistrationStatusId] [int] NOT NULL,
	[Cost] [money] NOT NULL,
	[CharityId] [int] NOT NULL,
	[SponsorshipTarget] [nvarchar](50) NULL,
 CONSTRAINT [PK_Registration] PRIMARY KEY CLUSTERED 
(
	[RegistrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistrationEvent]    Script Date: 27.06.2022 19:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrationEvent](
	[RegistrationEventId] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationId] [int] NOT NULL,
	[EventId] [int] NOT NULL,
	[BibNumber] [int] NOT NULL,
	[RaceTime] [datetime] NOT NULL,
 CONSTRAINT [PK_RegistrationEvent] PRIMARY KEY CLUSTERED 
(
	[RegistrationEventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistrationStatus]    Script Date: 27.06.2022 19:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrationStatus](
	[RegistrationStatusId] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationStatus] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RegistrationStatus] PRIMARY KEY CLUSTERED 
(
	[RegistrationStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 27.06.2022 19:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[VolunteerId] [int] NULL,
	[MarathonId] [int] NULL,
	[ReviewMark] [int] NOT NULL,
	[ReviewDescription] [nvarchar](max) NOT NULL,
	[ReviewDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Review] PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 27.06.2022 19:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Runner]    Script Date: 27.06.2022 19:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Runner](
	[RunnerId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Gender] [nchar](1) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[CountryCode] [nchar](10) NOT NULL,
	[Img] [image] NULL,
 CONSTRAINT [PK_Runner] PRIMARY KEY CLUSTERED 
(
	[RunnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RunnerMarathon]    Script Date: 27.06.2022 19:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RunnerMarathon](
	[RunnerId] [int] NOT NULL,
	[MarathonId] [int] NOT NULL,
	[Position] [int] NULL,
	[Time] [time](7) NULL,
 CONSTRAINT [PK_RunnerMarathon] PRIMARY KEY CLUSTERED 
(
	[RunnerId] ASC,
	[MarathonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sponsor]    Script Date: 27.06.2022 19:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sponsor](
	[SponsorId] [int] IDENTITY(1,1) NOT NULL,
	[CharityId] [int] NOT NULL,
	[RunnerId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CardName] [nvarchar](50) NOT NULL,
	[CardMonth] [int] NOT NULL,
	[CardYear] [int] NOT NULL,
	[CVCCode] [int] NOT NULL,
	[Amount] [money] NOT NULL,
 CONSTRAINT [PK_Sponsor] PRIMARY KEY CLUSTERED 
(
	[SponsorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sponsorship]    Script Date: 27.06.2022 19:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sponsorship](
	[SponsorshipId] [int] IDENTITY(1,1) NOT NULL,
	[SponsorshipName] [nvarchar](50) NOT NULL,
	[RegistrationId] [int] NOT NULL,
	[Amount] [money] NOT NULL,
 CONSTRAINT [PK_Sponsorship] PRIMARY KEY CLUSTERED 
(
	[SponsorshipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 27.06.2022 19:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Gender] [nchar](1) NOT NULL,
	[PositionId] [int] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Comments] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Timesheet]    Script Date: 27.06.2022 19:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timesheet](
	[TimesheetId] [int] IDENTITY(1,1) NOT NULL,
	[StaffId] [int] NOT NULL,
	[StartDateTime] [datetime] NOT NULL,
	[EndDateTime] [datetime] NOT NULL,
	[PayAmount] [money] NOT NULL,
 CONSTRAINT [PK_Timesheet] PRIMARY KEY CLUSTERED 
(
	[TimesheetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 27.06.2022 19:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user3]    Script Date: 27.06.2022 19:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user3](
	[MarathonId] [int] IDENTITY(1,1) NOT NULL,
	[MarathonName] [nvarchar](50) NOT NULL,
	[CityName] [nvarchar](50) NOT NULL,
	[CountryCode] [nchar](10) NOT NULL,
	[YearHeld] [int] NOT NULL,
 CONSTRAINT [PK_Marathon] PRIMARY KEY CLUSTERED 
(
	[MarathonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Volunteer]    Script Date: 27.06.2022 19:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Volunteer](
	[VolunteerId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[CountryCode] [nchar](10) NOT NULL,
	[Gender] [nchar](1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Volunteer] PRIMARY KEY CLUSTERED 
(
	[VolunteerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Charity] ON 

INSERT [dbo].[Charity] ([CharityId], [CharityName], [CharityDescription], [CharitiLogo]) VALUES (1, N'Огранизация1', N'Цветы', NULL)
INSERT [dbo].[Charity] ([CharityId], [CharityName], [CharityDescription], [CharitiLogo]) VALUES (2, N'Организация2', N'Цветы2', NULL)
SET IDENTITY_INSERT [dbo].[Charity] OFF
GO
INSERT [dbo].[Country] ([CountryCode], [CountryName], [CountryFlag]) VALUES (N'1         ', N'Россия', NULL)
INSERT [dbo].[Country] ([CountryCode], [CountryName], [CountryFlag]) VALUES (N'2         ', N'Китай', NULL)
INSERT [dbo].[Country] ([CountryCode], [CountryName], [CountryFlag]) VALUES (N'3         ', N'США', NULL)
GO
SET IDENTITY_INSERT [dbo].[Distance] ON 

INSERT [dbo].[Distance] ([DistanceId], [MarathonId], [DistanceValue]) VALUES (1, 1, 42)
INSERT [dbo].[Distance] ([DistanceId], [MarathonId], [DistanceValue]) VALUES (2, 2, 16)
SET IDENTITY_INSERT [dbo].[Distance] OFF
GO
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([EventId], [EventName], [EventTypeId], [MarathonId], [StartDateTime], [Cost], [MaxParticipants]) VALUES (4, N'Забег', 1, 1, CAST(N'2022-07-10T12:30:00.000' AS DateTime), 1000.0000, 50)
INSERT [dbo].[Event] ([EventId], [EventName], [EventTypeId], [MarathonId], [StartDateTime], [Cost], [MaxParticipants]) VALUES (5, N'Забег2', 2, 2, CAST(N'2022-07-10T15:45:00.000' AS DateTime), 1500.0000, 25)
SET IDENTITY_INSERT [dbo].[Event] OFF
GO
SET IDENTITY_INSERT [dbo].[EventType] ON 

INSERT [dbo].[EventType] ([EventTypeId], [EventTypeName]) VALUES (1, N'Кольцевая')
INSERT [dbo].[EventType] ([EventTypeId], [EventTypeName]) VALUES (2, N'Спринт')
INSERT [dbo].[EventType] ([EventTypeId], [EventTypeName]) VALUES (3, N'Триатлон')
SET IDENTITY_INSERT [dbo].[EventType] OFF
GO
INSERT [dbo].[Gender] ([Gender]) VALUES (N'ж')
INSERT [dbo].[Gender] ([Gender]) VALUES (N'м')
GO
SET IDENTITY_INSERT [dbo].[HowLong] ON 

INSERT [dbo].[HowLong] ([ID], [Name], [Image], [Speed], [Length]) VALUES (1, N'name', NULL, N'5000', N'6000')
SET IDENTITY_INSERT [dbo].[HowLong] OFF
GO
SET IDENTITY_INSERT [dbo].[Position] ON 

INSERT [dbo].[Position] ([PositionId], [PositionName], [PositionDescription], [PayPeriod], [PayRate]) VALUES (1, N'1st', N'Победитель!', N'1', 4.0000)
INSERT [dbo].[Position] ([PositionId], [PositionName], [PositionDescription], [PayPeriod], [PayRate]) VALUES (5, N'2nd', N'Второе место.', N'1', 3.0000)
INSERT [dbo].[Position] ([PositionId], [PositionName], [PositionDescription], [PayPeriod], [PayRate]) VALUES (6, N'3rd', N'Третье место.', N'1', 2.0000)
SET IDENTITY_INSERT [dbo].[Position] OFF
GO
SET IDENTITY_INSERT [dbo].[RaceKitOption] ON 

INSERT [dbo].[RaceKitOption] ([RaceKitOptionId], [RaceKitOption], [Cost]) VALUES (1, N'bib+bracelet', 1.0000)
INSERT [dbo].[RaceKitOption] ([RaceKitOptionId], [RaceKitOption], [Cost]) VALUES (2, N'bib+bracelet+hat+waterbootle', 3.0000)
INSERT [dbo].[RaceKitOption] ([RaceKitOptionId], [RaceKitOption], [Cost]) VALUES (5, N'bib+bracelet+hat+waterbootle+T-shirt', 7.0000)
SET IDENTITY_INSERT [dbo].[RaceKitOption] OFF
GO
SET IDENTITY_INSERT [dbo].[Registration] ON 

INSERT [dbo].[Registration] ([RegistrationId], [RunnerId], [RegistrationDateTime], [RaceKitOptionId], [RegistrationStatusId], [Cost], [CharityId], [SponsorshipTarget]) VALUES (2, 1, CAST(N'2022-01-17T00:00:00.000' AS DateTime), 1, 1, 100.0000, 1, N'500')
INSERT [dbo].[Registration] ([RegistrationId], [RunnerId], [RegistrationDateTime], [RaceKitOptionId], [RegistrationStatusId], [Cost], [CharityId], [SponsorshipTarget]) VALUES (3, 1, CAST(N'2022-06-25T03:56:12.753' AS DateTime), 5, 1, 120.0000, 1, N'спонсорство')
INSERT [dbo].[Registration] ([RegistrationId], [RunnerId], [RegistrationDateTime], [RaceKitOptionId], [RegistrationStatusId], [Cost], [CharityId], [SponsorshipTarget]) VALUES (1003, 3, CAST(N'2022-06-25T23:34:26.170' AS DateTime), 1, 1, 20.0000, 1, N'спонсорство')
SET IDENTITY_INSERT [dbo].[Registration] OFF
GO
SET IDENTITY_INSERT [dbo].[RegistrationEvent] ON 

INSERT [dbo].[RegistrationEvent] ([RegistrationEventId], [RegistrationId], [EventId], [BibNumber], [RaceTime]) VALUES (6, 2, 4, 1, CAST(N'2022-06-24T10:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[RegistrationEvent] OFF
GO
SET IDENTITY_INSERT [dbo].[RegistrationStatus] ON 

INSERT [dbo].[RegistrationStatus] ([RegistrationStatusId], [RegistrationStatus]) VALUES (1, N'Registered')
INSERT [dbo].[RegistrationStatus] ([RegistrationStatusId], [RegistrationStatus]) VALUES (2, N'Payment Confirmed')
INSERT [dbo].[RegistrationStatus] ([RegistrationStatusId], [RegistrationStatus]) VALUES (3, N'Race Kit Sent')
SET IDENTITY_INSERT [dbo].[RegistrationStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([ReviewId], [VolunteerId], [MarathonId], [ReviewMark], [ReviewDescription], [ReviewDateTime]) VALUES (1, 2, 1, 5, N'описание1', CAST(N'2022-06-24T00:00:00.000' AS DateTime))
INSERT [dbo].[Review] ([ReviewId], [VolunteerId], [MarathonId], [ReviewMark], [ReviewDescription], [ReviewDateTime]) VALUES (2, 2, 1, 3, N'описание2', CAST(N'2022-06-24T16:30:42.903' AS DateTime))
INSERT [dbo].[Review] ([ReviewId], [VolunteerId], [MarathonId], [ReviewMark], [ReviewDescription], [ReviewDateTime]) VALUES (3, 2, 2, 5, N'описание3', CAST(N'2022-06-25T23:57:34.407' AS DateTime))
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (1, N'Бегун')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (2, N'Администратор')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (3, N'Координатор')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Runner] ON 

INSERT [dbo].[Runner] ([RunnerId], [Email], [Gender], [DateOfBirth], [CountryCode], [Img]) VALUES (2, N'beg2@ms.com', N'ж', CAST(N'2022-06-08' AS Date), N'1         ', NULL)
INSERT [dbo].[Runner] ([RunnerId], [Email], [Gender], [DateOfBirth], [CountryCode], [Img]) VALUES (3, N'beg3@test.com', N'ж', CAST(N'2022-06-08' AS Date), N'3         ', NULL)
SET IDENTITY_INSERT [dbo].[Runner] OFF
GO
INSERT [dbo].[RunnerMarathon] ([RunnerId], [MarathonId], [Position], [Time]) VALUES (1, 1, 1, CAST(N'01:22:00' AS Time))
INSERT [dbo].[RunnerMarathon] ([RunnerId], [MarathonId], [Position], [Time]) VALUES (1, 2, 0, NULL)
INSERT [dbo].[RunnerMarathon] ([RunnerId], [MarathonId], [Position], [Time]) VALUES (2, 2, 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[Sponsor] ON 

INSERT [dbo].[Sponsor] ([SponsorId], [CharityId], [RunnerId], [Name], [CardName], [CardMonth], [CardYear], [CVCCode], [Amount]) VALUES (1, 1, 1, N'Спонсор', N'Карта', 12, 2023, 123, 50.0000)
INSERT [dbo].[Sponsor] ([SponsorId], [CharityId], [RunnerId], [Name], [CardName], [CardMonth], [CardYear], [CVCCode], [Amount]) VALUES (2, 1, 1, N'имя', N'карта2', 12, 2099, 213, 100.0000)
INSERT [dbo].[Sponsor] ([SponsorId], [CharityId], [RunnerId], [Name], [CardName], [CardMonth], [CardYear], [CVCCode], [Amount]) VALUES (3, 2, 1, N'имя2', N'карта3', 312321, 123, 123312, 50.0000)
SET IDENTITY_INSERT [dbo].[Sponsor] OFF
GO
SET IDENTITY_INSERT [dbo].[Sponsorship] ON 

INSERT [dbo].[Sponsorship] ([SponsorshipId], [SponsorshipName], [RegistrationId], [Amount]) VALUES (1, N'любое', 2, 500.0000)
INSERT [dbo].[Sponsorship] ([SponsorshipId], [SponsorshipName], [RegistrationId], [Amount]) VALUES (3, N'спонсорство', 2, 100.0000)
INSERT [dbo].[Sponsorship] ([SponsorshipId], [SponsorshipName], [RegistrationId], [Amount]) VALUES (4, N'спонсорство', 3, 120.0000)
SET IDENTITY_INSERT [dbo].[Sponsorship] OFF
GO
INSERT [dbo].[User] ([Email], [Password], [FirstName], [LastName], [RoleId]) VALUES (N'admin@gmail.com', N'admin', N'te', N'te', 2)
INSERT [dbo].[User] ([Email], [Password], [FirstName], [LastName], [RoleId]) VALUES (N'beg@gmail.com', N'beg', N'test2', N'test2', 1)
INSERT [dbo].[User] ([Email], [Password], [FirstName], [LastName], [RoleId]) VALUES (N'beg2@ms.com', N'beg2', N'beg2', N'beg2', 1)
GO
SET IDENTITY_INSERT [dbo].[user3] ON 

INSERT [dbo].[user3] ([MarathonId], [MarathonName], [CityName], [CountryCode], [YearHeld]) VALUES (1, N'Марафон', N'Город', N'1         ', 2022)
INSERT [dbo].[user3] ([MarathonId], [MarathonName], [CityName], [CountryCode], [YearHeld]) VALUES (2, N'Марафон2', N'Город2', N'2         ', 2022)
SET IDENTITY_INSERT [dbo].[user3] OFF
GO
SET IDENTITY_INSERT [dbo].[Volunteer] ON 

INSERT [dbo].[Volunteer] ([VolunteerId], [FirstName], [LastName], [CountryCode], [Gender], [Email]) VALUES (2, N'namee', N'lass', N'1         ', N'м', N'zrit@gmail.com')
INSERT [dbo].[Volunteer] ([VolunteerId], [FirstName], [LastName], [CountryCode], [Gender], [Email]) VALUES (3, N'zrit2', N'zrit2', N'2         ', N'ж', N'zrit2@ms.com')
INSERT [dbo].[Volunteer] ([VolunteerId], [FirstName], [LastName], [CountryCode], [Gender], [Email]) VALUES (4, N'zrit2', N'zrit2', N'2         ', N'ж', N'zrit2@g.c')
SET IDENTITY_INSERT [dbo].[Volunteer] OFF
GO
ALTER TABLE [dbo].[Distance]  WITH CHECK ADD  CONSTRAINT [FK_Distance_user3] FOREIGN KEY([MarathonId])
REFERENCES [dbo].[user3] ([MarathonId])
GO
ALTER TABLE [dbo].[Distance] CHECK CONSTRAINT [FK_Distance_user3]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_EventType] FOREIGN KEY([EventTypeId])
REFERENCES [dbo].[EventType] ([EventTypeId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_EventType]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Marathon] FOREIGN KEY([MarathonId])
REFERENCES [dbo].[user3] ([MarathonId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Marathon]
GO
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD  CONSTRAINT [FK_Registration_Charity] FOREIGN KEY([CharityId])
REFERENCES [dbo].[Charity] ([CharityId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Registration] CHECK CONSTRAINT [FK_Registration_Charity]
GO
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD  CONSTRAINT [FK_Registration_RaceKitOption] FOREIGN KEY([RaceKitOptionId])
REFERENCES [dbo].[RaceKitOption] ([RaceKitOptionId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Registration] CHECK CONSTRAINT [FK_Registration_RaceKitOption]
GO
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD  CONSTRAINT [FK_Registration_RegistrationStatus] FOREIGN KEY([RegistrationStatusId])
REFERENCES [dbo].[RegistrationStatus] ([RegistrationStatusId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Registration] CHECK CONSTRAINT [FK_Registration_RegistrationStatus]
GO
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD  CONSTRAINT [FK_Registration_Runner] FOREIGN KEY([RunnerId])
REFERENCES [dbo].[Runner] ([RunnerId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Registration] CHECK CONSTRAINT [FK_Registration_Runner]
GO
ALTER TABLE [dbo].[RegistrationEvent]  WITH CHECK ADD  CONSTRAINT [FK_RegistrationEvent_Event] FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([EventId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RegistrationEvent] CHECK CONSTRAINT [FK_RegistrationEvent_Event]
GO
ALTER TABLE [dbo].[RegistrationEvent]  WITH CHECK ADD  CONSTRAINT [FK_RegistrationEvent_Registration] FOREIGN KEY([RegistrationId])
REFERENCES [dbo].[Registration] ([RegistrationId])
GO
ALTER TABLE [dbo].[RegistrationEvent] CHECK CONSTRAINT [FK_RegistrationEvent_Registration]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_user3] FOREIGN KEY([MarathonId])
REFERENCES [dbo].[user3] ([MarathonId])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_user3]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Volunteer] FOREIGN KEY([VolunteerId])
REFERENCES [dbo].[Volunteer] ([VolunteerId])
ON UPDATE SET NULL
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Volunteer]
GO
ALTER TABLE [dbo].[Runner]  WITH CHECK ADD  CONSTRAINT [FK_Runner_Country] FOREIGN KEY([CountryCode])
REFERENCES [dbo].[Country] ([CountryCode])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Runner] CHECK CONSTRAINT [FK_Runner_Country]
GO
ALTER TABLE [dbo].[Runner]  WITH CHECK ADD  CONSTRAINT [FK_Runner_Gender] FOREIGN KEY([Gender])
REFERENCES [dbo].[Gender] ([Gender])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Runner] CHECK CONSTRAINT [FK_Runner_Gender]
GO
ALTER TABLE [dbo].[Runner]  WITH CHECK ADD  CONSTRAINT [FK_Runner_User] FOREIGN KEY([Email])
REFERENCES [dbo].[User] ([Email])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Runner] CHECK CONSTRAINT [FK_Runner_User]
GO
ALTER TABLE [dbo].[RunnerMarathon]  WITH CHECK ADD  CONSTRAINT [FK_RunnerMarathon_Runner] FOREIGN KEY([RunnerId])
REFERENCES [dbo].[Runner] ([RunnerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RunnerMarathon] CHECK CONSTRAINT [FK_RunnerMarathon_Runner]
GO
ALTER TABLE [dbo].[RunnerMarathon]  WITH CHECK ADD  CONSTRAINT [FK_RunnerMarathon_user3] FOREIGN KEY([MarathonId])
REFERENCES [dbo].[user3] ([MarathonId])
GO
ALTER TABLE [dbo].[RunnerMarathon] CHECK CONSTRAINT [FK_RunnerMarathon_user3]
GO
ALTER TABLE [dbo].[Sponsor]  WITH CHECK ADD  CONSTRAINT [FK_Sponsor_Charity] FOREIGN KEY([CharityId])
REFERENCES [dbo].[Charity] ([CharityId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sponsor] CHECK CONSTRAINT [FK_Sponsor_Charity]
GO
ALTER TABLE [dbo].[Sponsor]  WITH CHECK ADD  CONSTRAINT [FK_Sponsor_Runner] FOREIGN KEY([RunnerId])
REFERENCES [dbo].[Runner] ([RunnerId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sponsor] CHECK CONSTRAINT [FK_Sponsor_Runner]
GO
ALTER TABLE [dbo].[Sponsorship]  WITH CHECK ADD  CONSTRAINT [FK_Sponsorship_Registration] FOREIGN KEY([RegistrationId])
REFERENCES [dbo].[Registration] ([RegistrationId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sponsorship] CHECK CONSTRAINT [FK_Sponsorship_Registration]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Position] FOREIGN KEY([PositionId])
REFERENCES [dbo].[Position] ([PositionId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Position]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_User] FOREIGN KEY([Email])
REFERENCES [dbo].[User] ([Email])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_User]
GO
ALTER TABLE [dbo].[Timesheet]  WITH CHECK ADD  CONSTRAINT [FK_Timesheet_Staff] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([StaffId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Timesheet] CHECK CONSTRAINT [FK_Timesheet_Staff]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[user3]  WITH CHECK ADD  CONSTRAINT [FK_Marathon_Country] FOREIGN KEY([CountryCode])
REFERENCES [dbo].[Country] ([CountryCode])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user3] CHECK CONSTRAINT [FK_Marathon_Country]
GO
ALTER TABLE [dbo].[Volunteer]  WITH CHECK ADD  CONSTRAINT [FK_Volunteer_Country] FOREIGN KEY([CountryCode])
REFERENCES [dbo].[Country] ([CountryCode])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Volunteer] CHECK CONSTRAINT [FK_Volunteer_Country]
GO
ALTER TABLE [dbo].[Volunteer]  WITH CHECK ADD  CONSTRAINT [FK_Volunteer_Gender] FOREIGN KEY([Gender])
REFERENCES [dbo].[Gender] ([Gender])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Volunteer] CHECK CONSTRAINT [FK_Volunteer_Gender]
GO
ALTER TABLE [dbo].[Volunteer]  WITH CHECK ADD  CONSTRAINT [FK_Volunteer_User] FOREIGN KEY([Email])
REFERENCES [dbo].[User] ([Email])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Volunteer] CHECK CONSTRAINT [FK_Volunteer_User]
GO
/****** Object:  StoredProcedure [dbo].[proc1]    Script Date: 27.06.2022 19:44:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[proc1]
@y int
as
select * 
from hotelComments inner join hotels
on hotelComments.id_hotel=hotels.id_hotel
where 
year(creation_date)=@y;
GO
